* {
   background:                     #e1cec4;
   background-alt:                 #e1cec4;
   foreground:                     #1f0f11;
   border:                         #e1cec4;
   border-alt:                     #e1cec4;
   selected:                       #7294A0;
   urgent:                         #e1cec4;
}
